* {
    font-family: arial;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

H1 {
    font-size: 12pt;
}

.page-center{
  margin: auto;
  width: 100px;
  padding: 10px;
  background: #aaa;
}


.center-text {
  width: 200px;
  text-align: center;
  padding: 10px;
  background: #aaa;
}

.center-text-vertical {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content:center;
  align-items:center;
  background: #aaa;
}

/* Center itself in parent */
.center-div {
  margin:auto;
  background:#55f;
  width:50px;
  height:50px;
  position: absolute;
  top:50%;
  left:50%;
  text-align: center;
  vertical-align: middle;
  transform: translate(-50%, -50%)
}

.center-me {
  position: absolute;
  top:50%;
  left:50%;
  display: block;
  transform: translate(-50%, -50%)
}

.center-content {
  display: flex;
  justify-content:center;
  align-items:center;
  margin: auto;
}



.center-text-content {
  display: flex;
  height: 100%;
  justify-content:center;
  align-items:center;
  margin: auto;
}

.left-box {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 80px;
  background: #E587C8;

  flex-direction: column;
  justify-content: flex-start;
}

.right-box {
  display: flex;
  position: absolute;
  top: 0px;
  left: 150px;
  width: 300px;
  height: 80px;

  flex-direction: column;
  justify-content: flex-start;
}

.play-option-box {
  display: flex;
  position: absolute;
  width: auto;

  flex-direction: row;
  justify-content: center;
}

.option-box {
  height: 1.8em;
  font-size: 11pt;
}

.play-option-item {
  flex: none;
  align-self: center;
  margin: 10px;
}

.chord {
  width: 50px;
}

.chord-cell {
  text-align: center;
}

.chord-cell > B {
  display: inline-block;
  text-align: center;;
  width: 40px;
  margin: 5px;
}

.chord-table {
  width: 100%;
  padding-top:40px;
  padding-bottom:40px;
  background:#D9DCB6;
}


.chord-control {
  height: 80px;
  background: #E2C885;
  position: relative;
  width: 100%;
}

.ChordTransposer
{
  width: 450px;
  margin: auto;
  background:#FFA;
}
